.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    * {
        font-family: var(--font-body);
    }

    & *:is(input) {
        border-radius: 2rem;
        background-color: var(--mantine-color-dark-5);
        border: 3px solid transparent;
        color: white;
        font-family: var(--font-body);
        transition: border .2s;
        outline: none !important;

        &:focus {
            border: 3px solid var(--mantine-color-paleRed-5);
        }
    }

    button {
        border-radius: 2rem;
    }
}