.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.form {
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.card {
  max-width: 470px;
  border-radius: 1rem;
  padding: 2rem;
  font-family: var(--font-body);
}

.horizontal > * {
  flex: 1;
  min-width: 250px;
}

@media (max-width: 300px) {
  .horizontal > * {
    min-width: 100% !important;
  }
}

.form *:is(input, textarea) {
  border-radius: 2rem;
  background-color: var(--mantine-color-dark-5);
  border: 3px solid transparent;
  color: white;
  font-family: var(--font-body);
  transition: border .2s;

  &:focus {
    border: 3px solid var(--mantine-color-paleRed-5);
  }

  &:is(textarea) {
    padding: 1rem;
    resize: vertical;
    min-height: 8lh;
    max-height: 20lh;
    height: 8lh;
    line-height: 1;
  }
}

.selectDropdown {
  border-radius: 1rem;
  font-family: var(--font-body);
  background-color: var(--mantine-color-dark-5);
  transition: background-color .2s;
}

.selectOption {
  border-radius: 1rem;
  font-family: var(--font-body);
}

.selectOption:hover,
.selectOption:focus {
  background-color: var(--mantine-color-paleRed-light);
}

.text {
  font-family: var(--font-body);
}

.stack button {
  margin-left: auto;
  border-radius: 1rem;
}

.title {
  font-family: var(--font-title);
  font-weight: 200;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  height: 100%;
}

.left .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .5rem;
}

.left img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
}

@media screen and (max-width: 875px) {
  .group {
    grid-template-columns: 1fr;
  }

  .left {
    align-items: center;
  }

  .card {
    max-width: 100%;
  }
}