.feature {
    position: relative;
    padding-top: var(--mantine-spacing-xl);
    padding-left: var(--mantine-spacing-xl);
  }
  
  .overlay {
    position: absolute;
    height: rem(100px);
    width: rem(160px);
    top: 0;
    left: 0;
    background-color: var(--mantine-color-paleViolet-light);
    z-index: 1;
  }
  
  .content {
    position: relative;
    font-family: var(--font-body);
    z-index: 2;
  }
  
  .icon {
    color: var(--mantine-color-paleRed-6);
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: var(--font-body);
    font-weight: 500 !important;
  } 